*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

.wrapper {
  width: 60%;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.header {
  padding: 2rem;
}

.header > h1 {
  font-size: 4.0rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
}

.game {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.game-btn {
  width: 120px;
  height: 120px;
  background-color: lightseagreen;
  border: none;
  border-radius: 1rem;
  font-size: 6rem;
}

.message {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

.current {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.current > p {
  padding: 1rem;
  text-transform: uppercase;
  min-height: 3rem;
}

.current > p:last-child {
  background-color: lightpink;
  text-transform: none;
}

.logs {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 1rem;
}

.logs > h2 {
  margin-bottom: 2rem;
}

.logs > p {
  margin-bottom: 1rem;
}
